<?xml version="1.0" encoding="utf-8"?>
<config version="1">
<!--
VARIABLES
    KuShellExtension allows users define some variables to simplify the configuration, which will be substituted in attributes and text nodes of XML elements *after* it is defined in the configuration file.
    The names of user defined and built-in variables are case-sensitive, but environment variables are case-insensitive. All variables are static-binding, which means it is only expanded when KuShellExtension parses this file.
    KuShellExtension re-parses configuration whenever the configuration file is changed.

    <var name="NAME">VALUE</var>
        Define a variable named NAME and the value of it is VALUE.

    ${var:NAME}
        Expand to VALUE which is defined as above or some built-in ones.

    ${env:NAME}
        Expand to environment variables named NAME. (%NAME%)

    ${NAME}
        Expand to ${var:NAME} first, or expand to ${env:NAME} if ${var:NAME} is not exist.

    built-in variables:
        CONFIG: The path of configuration file.
        KU_SHELL_EXTENSION_DIR: The directory which contains KuShellExtension.
        KU_SHELL_EXTENSION_DRIVE: The drive (e.g. C:) which contains KuShellExtension.

        Arch: Expand to "32" on 32bits Windows, "64" on 64bits Windows (even in WOW64 mode).
        ArchName: "x86" or "x64", depend on OS (not CPU).
        SysDir:
            "C:\Windows\System32" (Windows 32bits, represent as Win32 following)
            "C:\Windows\SysWOW64" (Windows 64bits, KuShellExtension 32bits, represent as WOW64 following)
            "C:\Windows\System32" (Windows 64bits, KuShellExtension 64bits, represent as Win64 following)
        SysDir32:
            "C:\Windows\System32" (Win32)
            "C:\Windows\SysWOW64" (WOW64 and Win64)
        SysDir64:
            "C:\Windows\System32" (all platforms)
        ProgramFiles:
            "C:\Program Files" (Win32)
            "C:\Program Files (x86)" (WOW64)
            "C:\Program Files" (Win64)
        ProgramFiles32:
            "C:\Program Files" (Win32)
            "C:\Program Files (x86)" (WOW64 and Win64)
        ProgramFiles64:
            "C:\Program Files" (all platforms)
        Documents: "My Documents" folder
        CommonDocuments: "Common Documents" folder

        Other available varables:
          Pictures, CommonPictures, Music, CommonMusic, Video, CommonVideo,
          Desktop, CommonDesktop, Startup, CommonStartup, Downloads, CommonDownloads

    varables for configration:
    	These varables will affect KuShellExtension in some way, you shouldn't use them other than configure KuShellExtension.

    	LEGACY_STYLE (boolean):
    	    Enable this if you are using a third-party theme in Windows Vista and the icons aren't drawn properly.
    	HIDE_MISSING (boolean):
    	    Enable this to hide the entries which point to some programs aren't existed.
-->
    <var name="LEGACY_STYLE">false</var>
    <var name="HIDE_MISSING">false</var>

	<var name="MainPath">r3pl4ce_m3</var>	
	<var name="Analyzing">${var:MainPath}00 Anlayzing</var>
	<var name="Debugging">${var:MainPath}01 Debugging</var>
	<var name="Decompile">${var:MainPath}02 Disasm_Decompile</var>
	<var name="HexEditing">${var:MainPath}03 HexEditing</var>
	<var name="Monitoring">${var:MainPath}04 Monitoring</var>
	<var name="Packing">${var:MainPath}05 Packing</var>
	<var name="PEEditing">${var:MainPath}07 PE Editing</var>
	<var name="ResourceEditing">${var:MainPath}08 ResourceEditing</var>
	<var name="Patching">${var:MainPath}09 Patching</var>
	<var name="Converting">${var:MainPath}10 Converting</var>
	<var name="Hashing">${var:MainPath}11 Hashing</var>
	<var name="Misc">${var:MainPath}12 Misc</var>
	
	

	<var name="exe">.exe .com .sys .scr</var>
	<var name="dll">.dll .ax .acm .vcm</var>
	<var name="java">.apk .class</var>
	<var name="pic">.bmp .gif .jpg .jpe .jpeg .png .tga .tif .tiff .png .ico</var>





	<menu name="Peafowl" icon="${var:MainPath}Peafowl.ico" class="folder *" >
		<menu name="Analyzing" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="${var:exe} ${var:dll} folder" name="AT4RE_FastScanner" icon="${var:Analyzing}\FastScanner3\AT4RE_FastScanner.exe"	>"${var:Analyzing}\FastScanner3\AT4RE_FastScanner.exe"</menuitem>
			<menuitem class="${var:exe} ${var:java} ${var:dll}" name="Detect Is Easy" icon="${var:Analyzing}\die_win64_portable\die.exe"		>"${var:Analyzing}\die_win64_portable\die.exe" "%1"</menuitem>	
			<menuitem class="folder" name="Detect Is Easy" icon="${var:Analyzing}\die_win64_portable\die.exe"									>"${var:Analyzing}\die_win64_portable\die.exe"</menuitem>				
			<menuitem class="${var:exe} ${var:java} ${var:dll}" name="PPEE" icon="${var:Analyzing}\PPEE\PPEE.exe"								>"${var:Analyzing}\PPEE\PPEE.exe" "%1"</menuitem>
			<menuitem class="folder" name="PPEE" icon="${var:Analyzing}\PPEE\PPEE.exe"															>"${var:Analyzing}\PPEE\PPEE.exe" </menuitem>
			<menuitem class="${var:exe} ${var:java} ${var:dll}" name="PEiD" icon="${var:Analyzing}\PEiD\PEiD.exe"								>"${var:Analyzing}\PEiD\PEiD.exe" "%1"</menuitem>
			<menuitem class="folder" name="PEiD" icon="${var:Analyzing}\PEiD\PEiD.exe"															>"${var:Analyzing}\PEiD\PEiD.exe" "</menuitem>
			<menuitem class="${var:exe} ${var:java} ${var:dll}" name="pelook" icon="${var:MainPath}Peafowl.ico"										>cmd.exe /C "&quot;${var:Analyzing}\pelook\pelook.exe&quot; &quot;%1&quot; &amp; pause"</menuitem>
			<menuitem class="folder" name="pelook" icon="${var:Analyzing}\pelook\pelook.exe"													>cmd.exe /K "cd &quot;${var:Analyzing}\pelook&quot; &amp; pelook"</menuitem>
			<menuitem name="PeStudio" icon="${var:Analyzing}\pestudio\pestudio.exe"																>"${var:Analyzing}\pestudio\pestudio.exe" "%1"</menuitem>
			<menuitem class="folder" name="PeStudio" icon="${var:Analyzing}\pestudio\pestudio.exe"												>"${var:Analyzing}\pestudio\pestudio.exe"</menuitem>			
		</menu>		
		<menu name="Debugging" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="${var:exe} ${var:dll}"  name="Debug with DnSpy" icon="${var:Debugging}\DnSpy\DnSpy.exe"							>"${var:Debugging}\DnSpy\DnSpy.exe" "%1"</menuitem>
			<menuitem class="${var:exe} ${var:dll}"  name="Debug with Ollydbg 1.10" icon="${var:Debugging}\Ollydbg 1.10\ollydbg.exe"			>"${var:Debugging}\Ollydbg 1.10\ollydbg.exe" "%1"</menuitem>
			<menuitem class="${var:exe} ${var:dll}"  name="Debug with Ollydbg 2.01" icon="${var:Debugging}\OllyDbg 2.01\ollydbg.exe"			>"${var:Debugging}\OllyDbg 2.01\ollydbg.exe" "%1"</menuitem>
			<menuitem class="${var:exe} ${var:dll}"  name="Debug with x96dbg" icon="${var:Debugging}\x96dbg\release\x96dbg.exe"					>"${var:Debugging}\x96dbg\release\x96dbg.exe" "%1"</menuitem>
			<menuitem class="${var:java}" name="Debug with GDA" icon="${var:Debugging}\GDA\GDA3.92.free.exe"									>"${var:Debugging}\GDA\GDA3.92.free.exe" "%1"</menuitem>			
			<menuitem class="folder"  name="Debug with DnSpy" icon="${var:Debugging}\DnSpy\DnSpy.exe"											>"${var:Debugging}\DnSpy\DnSpy.exe" </menuitem>
			<menuitem class="folder"  name="Debug with Ollydbg 1.10" icon="${var:Debugging}\Ollydbg 1.10\ollydbg.exe"							>"${var:Debugging}\Ollydbg 1.10\ollydbg.exe" </menuitem>
			<menuitem class="folder"  name="Debug with Ollydbg 2.01" icon="${var:Debugging}\OllyDbg 2.01\ollydbg.exe"							>"${var:Debugging}\OllyDbg 2.01\ollydbg.exe" </menuitem>
			<menuitem class="folder"  name="Debug with x96dbg" icon="${var:Debugging}\x96dbg\release\x96dbg.exe"								>"${var:Debugging}\x96dbg\release\x96dbg.exe" </menuitem>
			<menuitem class="folder" name="Debug with GDA" icon="${var:Debugging}\GDA\GDA3.92.free.exe"											>"${var:Debugging}\GDA\GDA3.92.free.exe" </menuitem>
		</menu>		
		<menu name="Disasm & Decompile" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="${var:exe} ${var:dll}" name="Decompile with snowman" icon="${var:Decompile}\snowman-v0.1.3-win-x64\icon.ico"		>"${var:Decompile}\snowman-v0.1.3-win-x64\snowman.exe" "%1"</menuitem>			
			<menuitem class="${var:exe} ${var:dll} folder" name="W32DSM89 Disassembler" icon="${var:Decompile}\w32ds893\W32DSM89.exe"			>"${var:Decompile}\w32ds893\W32DSM89.exe"</menuitem>	
			<menuitem class="${var:exe} ${var:dll}"  name="disassemble from EntryPoint" icon="${var:MainPath}Peafowl.ico"							>cmd.exe /C "&quot;${var:Misc}\bytepointer\disasmdump.exe&quot; -p -f &quot;%1&quot;  &amp; echo. &amp; pause"</menuitem>	
			<menuitem class="folder" name="disasmdump" icon="${var:MainPath}Peafowl.ico"															>cmd.exe /K "cd &quot;${var:Misc}\bytepointer&quot; &amp; disasmdump"</menuitem>			
			<menuitem class="folder" name="snowman" icon="${var:Decompile}\snowman-v0.1.3-win-x64\icon.ico"										>"${var:Decompile}\snowman-v0.1.3-win-x64\snowman.exe"</menuitem>
		</menu>		
		<menu name="Hex Editing" icon="${var:MainPath}Peafowl.ico" >
			<menuitem name="Edit with Frhed" icon="${var:HexEditing}\Frhed-1.6.0-exe\Frhed.exe"													>"${var:HexEditing}\Frhed-1.6.0-exe\Frhed.exe" "%1"</menuitem>
			<menuitem name="Edit with HxD" icon="${var:HexEditing}\HxD\HxD.exe"																	>"${var:HexEditing}\HxD\HxD.exe" "%1"</menuitem>
			<menuitem name="Edit with winhex" icon="${var:HexEditing}\winhex\winhex.exe"														>"${var:HexEditing}\winhex\winhex.exe" "%1"</menuitem>
			<menuitem name="Edit with wxHexEditor" icon="${var:HexEditing}\wxHexEditor\wxHexEditor-32Bit.exe"									>"${var:HexEditing}\wxHexEditor\wxHexEditor-32Bit.exe" "%1"</menuitem>
			<menuitem class="folder" name="Frhed" icon="${var:HexEditing}\Frhed-1.6.0-exe\Frhed.exe"											>"${var:HexEditing}\Frhed-1.6.0-exe\Frhed.exe" </menuitem>
			<menuitem class="folder" name="HxD" icon="${var:HexEditing}\HxD\HxD.exe"															>"${var:HexEditing}\HxD\HxD.exe" </menuitem>
			<menuitem class="folder" name="winhex" icon="${var:HexEditing}\winhex\winhex.exe"													>"${var:HexEditing}\winhex\winhex.exe" </menuitem>
			<menuitem class="folder" name="wxHexEditor" icon="${var:HexEditing}\wxHexEditor\wxHexEditor-32Bit.exe"								>"${var:HexEditing}\wxHexEditor\wxHexEditor-32Bit.exe" </menuitem>
		</menu>		
		<menu name="Monitoring" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="folder" name="API Monitor" icon="${var:Monitoring}\API Monitor\apimonitor-x86.exe"									>"${var:Monitoring}\API Monitor\apimonitor-x86.exe"</menuitem>				
			<menuitem class="folder" name="API Monitor64" icon="${var:Monitoring}\API Monitor\apimonitor-x64.exe"								>"${var:Monitoring}\API Monitor\apimonitor-x64.exe"</menuitem>				
			<menuitem class="folder" name="WinSp" icon="${var:Monitoring}\WinSpy\WinSpy32.exe"													>"${var:Monitoring}\WinSpy\WinSpy32.exe"</menuitem>			
			<menuitem class="folder" name="WinSpy64" icon="${var:Monitoring}\WinSpy\WinSpy64.exe"												>"${var:Monitoring}\WinSpy\WinSpy64.exe"</menuitem>			
		</menu>				
		<menu name="Packing" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="${var:exe} ${var:dll}"  name="Compress With UPX 3.96 32bit" icon="${var:Packing}\upx.ico"							>cmd.exe /C "&quot;${var:Packing}\upx-3.96-win32\upx.exe&quot; -9 &quot;%1&quot; &amp; pause"</menuitem>	
			<menuitem class="${var:exe} ${var:dll}"  name="Compress With UPX 3.96 64bit" icon="${var:Packing}\upx.ico"							>cmd.exe /C "&quot;${var:Packing}\upx-3.96-win64\upx.exe&quot; -9 &quot;%1&quot; &amp; pause"</menuitem>	
		</menu>		
		<menu name="UnPacking" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="${var:exe} ${var:dll}"  name="deCompress With UPX 3.96 32bit" icon="${var:Packing}\upx.ico"						>cmd.exe /C "&quot;${var:Packing}\upx-3.96-win32\upx.exe&quot; -d &quot;%1&quot;  &amp; pause"</menuitem>	
			<menuitem class="${var:exe} ${var:dll}"  name="deCompress With UPX 3.96 64bit" icon="${var:Packing}\upx.ico"						>cmd.exe /C "&quot;${var:Packing}\upx-3.96-win64\upx.exe&quot; -d &quot;%1&quot;  &amp; pause"</menuitem>	
		</menu>		
		<menu name="PE Editing" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="${var:exe} ${var:dll} folder"  name="LordPE" icon="${var:PEEditing}\LordPE\LordPE.exe"								>"${var:PEEditing}\LordPE\LordPE.exe" </menuitem>	
			<menuitem class="${var:exe} ${var:dll} folder"  name="PE Editor" icon="${var:PEEditing}\PE Editor\PE.Editor 1.0.exe"				>"${var:PEEditing}\PE Editor\PE.Editor 1.0.exe" </menuitem>	
			<menuitem class="${var:exe} ${var:dll} folder"  name="PE Generator" icon="${var:PEEditing}\PE Generator\PE.Generator1.2.1.exe"		>"${var:PEEditing}\PE Generator\PE.Generator1.2.1.exe"</menuitem>	
		</menu>		
		<menu name="ResourceEditing" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="${var:exe} ${var:dll} .ss folder"  name="eXeScope" icon="${var:ResourceEditing}\eXeScope\eXeScope.exe"				>"${var:ResourceEditing}\eXeScope\eXeScope.exe"</menuitem>	
			<menuitem class="${var:exe} ${var:dll} .ss"  name="ResourceHacker" icon="${var:ResourceEditing}\ResourceHacker\ResourceHacker.exe"	>"${var:ResourceEditing}\ResourceHacker\ResourceHacker.exe" "%1"</menuitem>	
			<menuitem class="${var:exe} ${var:dll} .ss"  name="ResEdit" icon="${var:ResourceEditing}\ResEdit\ResEdit.exe"						>"${var:ResourceEditing}\ResEdit\ResEdit.exe" "%1"</menuitem>				
			<menuitem class="folder"  name="ResourceHacker" icon="${var:ResourceEditing}\ResourceHacker\ResourceHacker.exe"						>"${var:ResourceEditing}\ResourceHacker\ResourceHacker.exe"</menuitem>	
			<menuitem class="folder"  name="ResEdit" icon="${var:ResourceEditing}\ResEdit\ResEdit.exe"											>"${var:ResourceEditing}\ResEdit\ResEdit.exe" </menuitem>				
		</menu>		
		<menu name="Patching" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="* folder"  name="Code Fusion" icon="${var:Patching}\Code Fusion\Code Fusion 3.0.exe"								>"${var:Patching}\Code Fusion\Code Fusion 3.0.exe"</menuitem>	
			<menuitem class="* folder"  name="dup2" icon="${var:Patching}\dup2.0\dup2.exe"														>"${var:Patching}\dup2.0\dup2.exe"</menuitem>	
			<menuitem class="* folder"  name="Graphical PatchMaker" icon="${var:Patching}\Graphical-PatchMaker\PatchMaker.exe"					>"${var:Patching}\Graphical-PatchMaker\PatchMaker.exe"</menuitem>	
			<menuitem class="* folder"  name="SS Creator 2" icon="${var:Patching}\Serial Sniffer Creator 2.0\SS Creator 2.exe"					>"${var:Patching}\Serial Sniffer Creator 2.0\SS Creator 2.exe"</menuitem>	
			<menuitem class="* folder"  name="uPPP" icon="${var:Patching}\uPPP_0.5\uPPP.exe"													>"${var:Patching}\uPPP_0.5\uPPP.exe"</menuitem>				
		</menu>				
		<menu name="Calcs and Converting" icon="${var:MainPath}Peafowl.ico" >		
			<menuitem class="* folder"  name="Calc cybult" icon="${var:Converting}\Calc17.exe"													>"${var:Converting}\Calc17.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu Converter" icon="${var:Converting}\Converter.exe"											>"${var:Converting}\Converter.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu DataConverter" icon="${var:Converting}\DataConverter.exe"									>"${var:Converting}\DataConverter.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu Difference Calculator" icon="${var:Converting}\Difference Calculator.exe"					>"${var:Converting}\Difference Calculator.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu FileConverter" icon="${var:Converting}\FileConverter.exe"									>"${var:Converting}\FileConverter.exe"</menuitem>				
			<menuitem class="* folder"  name="Kahu JSDeobfuscator" icon="${var:Converting}\JSDeobfuscator.exe"									>"${var:Converting}\JSDeobfuscator.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu PHP Converter" icon="${var:Converting}\PHPConverter_v0.3\PHPConverter.exe"					>"${var:Converting}\PHPConverter_v0.3\PHPConverter.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu PHP Script Decoder" icon="${var:Converting}\PHP Script Decoder.exe"							>"${var:Converting}\PHP Script Decoder.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu Reneo" icon="${var:Converting}\Reneo.exe"													>"${var:Converting}\Reneo.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu Script Decoder" icon="${var:Converting}\Script Decoder.exe"									>"${var:Converting}\Script Decoder.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu ScriptDeobfuscator" icon="${var:Converting}\ScriptDeobfuscator.exe"							>"${var:Converting}\ScriptDeobfuscator.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu Secret Decoder Ring" icon="${var:Converting}\Secret Decoder Ring.exe"						>"${var:Converting}\Secret Decoder Ring.exe"</menuitem>	
			<menuitem class="* folder"  name="Kahu TextDecoderToolkit" icon="${var:Converting}\TextDecoderToolkit.exe"							>"${var:Converting}\TextDecoderToolkit.exe"</menuitem>	
			<menuitem class="* folder"  name="FPU calc cybult" icon="${var:Converting}\fpu10.exe"												>"${var:Converting}\fpu10.exe"</menuitem>	
			<menuitem class="* folder"  name="UniBitch" icon="${var:Converting}\UniBitch.exe"													>"${var:Converting}\UniBitch.exe"</menuitem>	
			<menuitem class="* folder"  name="VBS Binary File Converter" icon="${var:Converting}\Binary File Converter.exe"						>"${var:Converting}\Binary File Converter.exe"</menuitem>	
			<menuitem class="* folder"  name="X-Calculator Gold" icon="${var:Converting}\X-CalculatorGold.exe"									>"${var:Converting}\X-CalculatorGold.exe"</menuitem>					
		</menu>
		<menu name="Hashing" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="* folder"  name="BETool" icon="${var:Hashing}\BETool.exe"															>"${var:Hashing}\BETool.exe"</menuitem>	
			<menuitem class="* folder"  name="DAMN Hash Calculator 1.5.1" icon="${var:Hashing}\DAMN.Hash.Calculator.1.5.1.exe"					>"${var:Hashing}\DAMN.Hash.Calculator.1.5.1.exe"</menuitem>	
			<menuitem class="* folder"  name="DSATool" icon="${var:Hashing}\DSAToolv13.exe"														>"${var:Hashing}\DSAToolv13.exe"</menuitem>	
			<menuitem class="* folder"  name="HashThingy" icon="${var:Hashing}\HashThingy.exe"													>"${var:Hashing}\HashThingy.exe"</menuitem>	
			<menuitem class="* folder"  name="RSATool" icon="${var:Hashing}\RSATool2v17.exe"													>"${var:Hashing}\RSATool2v17.exe"</menuitem>	
			<menuitem class="* folder"  name="X_CRYPTO" icon="${var:Hashing}\X_CRYPTO v1.2.exe"													>"${var:Hashing}\X_CRYPTO v1.2.exe"</menuitem>				
		</menu>		
		<menu name="Misc" icon="${var:MainPath}Peafowl.ico" >
			<menuitem class="*"  name="encode base64" icon="${var:MainPath}Peafowl.ico" 															>cmd.exe /C "&quot;${var:Misc}\bytepointer\base64.exe&quot; /enc &quot;%1&quot;  &amp; echo. &amp; pause"</menuitem> 
			<menuitem class="*"  name="decode base64" icon="${var:MainPath}Peafowl.ico" 															>cmd.exe /C "&quot;${var:Misc}\bytepointer\base64.exe&quot; /dec &quot;%1&quot;  &amp; echo. &amp; pause"</menuitem>
			<menuitem class="*"  name="decode base64" icon="${var:MainPath}Peafowl.ico" 															>cmd.exe /C "&quot;${var:Misc}\bytepointer\base64.exe&quot; /dec &quot;%1&quot;  &amp; echo. &amp; pause"</menuitem>
			<menuitem class="folder"  name="base64 tool" icon="${var:MainPath}Peafowl.ico" 														>cmd.exe /K "cd &quot;${var:Misc}\bytepointer&quot; &amp; base64"</menuitem>			
			<menuitem class=".xml folder"  name="TAG Tree Viewer" icon="${var:Misc}\bytepointer\tagtreeviewer.exe"								>"${var:Misc}\bytepointer\tagtreeviewer.exe"</menuitem>			
			<menuitem class="*"  name="AsciiArtStudio" icon="${var:Misc}\Ascii Art studio\AsciiArtStudio.exe"									>"${var:Misc}\Ascii Art studio\AsciiArtStudio.exe" "%1"</menuitem>	
			<menuitem class="folder"  name="AsciiArtStudio" icon="${var:Misc}\Ascii Art studio\AsciiArtStudio.exe"								>"${var:Misc}\Ascii Art studio\AsciiArtStudio.exe"</menuitem>				
			<menuitem class="* folder"  name="ASCIIPic 2.0" icon="${var:Misc}\ASCII_Pic2\ASCIIPic.exe"											>"${var:Misc}\ASCII_Pic2\ASCIIPic.exe"</menuitem>			
			<menuitem class="folder"  name="Ascii Generator" icon="${var:Misc}\img_to_ascii\Ascgen.exe"											>"${var:Misc}\img_to_ascii\Ascgen.exe"</menuitem>			
			<menuitem class="${var:pic}"  name="Ascii Generator" icon="${var:Misc}\img_to_ascii\Ascgen.exe"										>"${var:Misc}\img_to_ascii\Ascgen.exe" "%1"</menuitem>	
			<menuitem class="* folder"  name="Truth Table" icon="${var:MainPath}Peafowl.ico"														>"${var:Misc}\BExpred.jar"</menuitem>	
			<menuitem class="* folder"  name="Minimize by Boolean Algebra" icon="${var:MainPath}Peafowl.ico"										>"${var:Misc}\Minimize.jar"</menuitem>	
		</menu>
	
	
</config>
